# Dependencies
node_modules/
.pnpm-debug.log*

# Build outputs
dist/
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# OS files
Thumbs.db
